h1
{
 font-size: 36;
 font-family: monospace;
}
h2
{
color:black;
font-size: 26;
margin-left: 600px;
margin-right: 600px;
}
body
{
 background-color: #123a56;
 text-align: center;
 color: red;
 padding: 25px;
}
.how
{
 font-size:18;
}
.why
{
 font-size:18;
}
.what
{
 font-size:18;
}
caption{
  text-align: center;
}
